//npm.pkg.github.com/:_authToken=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
@noony-serverless:registry=https://npm.pkg.github.com
registry=https://registry.npmjs.org
